$primary-color: #EF6815;

.navbar {
    background-color: $primary-color;
    height: 5rem;

    .navbar__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;

        .navbar__menu-item {
            .navbar__logo {
                height: 8rem;
                padding: 0;
            }
        }
    }
}