$primary-color: #EF6815;

.navbar {
    background-color: $primary-color;
    height: 5rem;
    display: flex;

    .navbar__logo {
        height: 8rem;
        padding: 0;
        margin-left: 3rem;
    }

    .navbar__menu {
        width: 100%;
        align-self: self-end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        margin-right: 3rem;
        gap: 3rem;

        .navbar__menu-item {}
    }
}